{{> admin/head}}

<div class="col-sm-12" style="padding-bottom:30%;padding-top: 2%;background: rgb(238, 234, 234)">
    <div class="container" style="margin: auto">
        <nav>
            <div class="nav nav-tabs row" style="border-bottom : none;margin-left: 1%;" id="nav-tab" role="tablist">
                <div class="col-md-4">
                    <a class="nav-item nav-link active btn btn-success btn-outline" style="border-radius: 5px;"
                        id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true"><span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>Add Subject</a>
                </div>
            </div>
        </nav>
    </div>




    <div class="tab-content" id="nav-tabContent">

        {{!-- Course --}}
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container" id="add_course" style="margin-top:5%;margin-left:1%;">
                <div class="col-md-8 col-md-offset-8">
                    <div class="card border-primary">
                        <div class="card-header">Add Subject</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group course">
                                    <label for="class">Subject-Code</label>
                                    <input type="text" class="form-control" id="sub_code" placeholder="Subject Code">
                                    <div id="sub_code_error"></div>
                                </div>
                                <div class="form-group course">
                                    <label for="class">Subject</label>
                                    <input type="text" class="form-control" id="sub_name" placeholder="Subject Name">
                                    <div id="sub_error"></div>
                                </div>

                                <button type="button" class="btn btn-primary" id="add_sub_submit"
                                    name="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-12 col-md-offset-8" style="margin-top: 10%;">
                    <div class="card border-primary">
                        <div class="card-header">
                            <h3>Subjects</h3>
                        </div>
                        <hr>
                        <ul class="list-group" id="sub_list">
                            {{#each subjects}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{this.sub_code}} - {{this.sub_name}}
                                {{!-- <button type="button" class="badge badge-danger course_btn" id={{this._id}}><i class="fa fa-times "></i></button> --}}
                                <span class="badge badge-danger sub_btn" id={{this._id}}><i
                                        class="fa fa-times "></i></span>
                            </li>
                            {{/each }}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>

{{>admin/admin_footer}}

<script>
    $reloadSubject = function () {
        $.ajax({
            url: "http://localhost:3000/admin/get_subject",
            method: "post",
            data: {},
            success: function (data) {
                if (data['status'] == 200) {
                    var dresult = data['data'];
                    $("#sub_list").html("");
                    $.each(dresult, function (i, value) {
                        $("#sub_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" >'+value['sub_code']+' - '+value['sub_name']+'<span class="badge badge-danger sub_btn" id=' + value['_id'] + '><i class="fa fa-times "></i></span></li>');
                    });
                    
                    if ($("#sub_list").children('li').length == 0) { $("#sub_list").parent().parent().hide(); }
                    else { $("#sub_list").parent().parent().show(); }
                }
            }
        });
    }
    $reloadSubject();
    $(document).ready(function () {
        
        $(document).on('click', '#add_sub_submit', function () {
            //alert("hello");
            var sub_code = $("#sub_code").val().toLowerCase();
            var sub_name = $("#sub_name").val().toLowerCase();
            //alert(sub_name);
            //alert(sub_code);
            if (sub_code.length > 0 && sub_name.length > 0) {
                $.ajax({
                    url: 'http://localhost:3000/admin/add_subject',
                    method: 'POST',
                    dataType: 'json',
                    data: { sub_code: sub_code, sub_name: sub_name },
                    success: function (data) {
                        var status = data["status"];
                        //alert(status);
                        if (status == 200) {
                            $reloadSubject()
                            $("#sub_code").val('');
                            $("#sub_name").val('');
                        } else {
                            swal('Oops!', 'Something goes wrong!', 'warning');
                        }
                    }
                });
            } else {
                swal('Oops!', 'All fields are require!', 'warning');
            }
        });
        $(document).on('click', '.sub_btn', function () {
            var subject = $(this).attr('id');
            
            $.ajax({
                url: 'http://localhost:3000/admin/remove_subject',
                method: 'POST',
                dataType: 'json',
                data: { subject: subject },
                success: function (data) {
                    var status = data["status"];
                    //alert(status);
                    if (status == 200) {
                        $reloadSubject()
                    } else {
                        swal('Oops!', 'Something goes wrong!', 'warning');
                    }
                }
            });
        })
    });
</script>