{{> admin/head}}
<div class="col-sm-12" style="padding-bottom:20%;padding-top: 2%">
    <div class="container" style="margin-top:5%;margin-left:1%;">
        <div class="col-md-12 col-md-offset-8">
            <div class="card border-primary">
                <div class="card-header">Add User</div>
                <div class="card-body">
                    <form id="adduser_form">
                        <div class="form-group username">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                            <div id="name_error"></div>
                        </div>
                        <div class="form-group username">
                            <label for="username">UserName</label>
                            <input type="text" class="form-control" id="username" placeholder="User Name" required>
                            <div id="user_error"></div>
                        </div>
                        <div class="form-group username">
                            <label for="emai">Email Id</label>
                            <input type="email" class="form-control" id="email" placeholder="Email Id" required>
                            <div id="email_error"></div>
                        </div>

                        <div class="form-group username">
                            <label for="contact_no">Contact Number</label>
                            <input type="text" class="form-control" id="contact_no" placeholder="Contact Number"
                                required>
                            <div id="contact_error"></div>
                        </div>

                        <div class="form-group">
                            <label for="datepicker">Date Of Birth</label>
                            <input type="text" class="form-control" id="datepicker" placeholder="Date of birth" readonly />
                        </div>
                        <div class="form-group">
                            <select class="custom-select form-control" id="user_type" name="user_type" required>
                                <option value="0">User Type</option>
                                {{#each user_types}}
                                {{#isnt this.type 'admin'}}
                                <option value={{this._id}} style="text-transform:uppercase;">{{this.type}}</option>
                                {{/isnt}}
                                {{/each}}
                            </select>

                        </div>
                        <div class="form-group">
                            <select class="custom-select form-control" id="course" name="course" required>
                                <option value="0">Course</option>
                                {{#each courses}}
                                <option value={{this._id}} style="text-transform:uppercase;">{{this.name}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <button type="button" class="btn btn-primary" id="submit" name="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{>admin/admin_footer}}

<script>
    $('#datepicker').datepicker();
    $(document).ready(function () {

        //check username
        $("#username").blur(function () {
            var uname = $(this).val();
            //alert(uname);
            $.ajax({
                url: "http://localhost:3000/admin/checkuser",
                method: "post",
                data: { user_name: uname },
                success: function (data) {

                    var status = data["status"];
                    //alert(status);
                    if (status == 200) {
                        //alert("hello");
                        if (data["available"] == false) {
                            $(".username").addClass('has-error');
                            $("#user_error").html("<ul class='error-list'><li>Username is alredy exist</li></ul>");
                            //alert("User name alredy taken by other");

                        }
                        else {
                            $(".username").removeClass('has-error');
                            $("#user_error").html("");
                        }
                        // $(".username").addClass("has-error");
                        // $("#user_error").html("<ul><li>Username is alredy exist</li></ul>");
                    } else {
                        alert("Something Goes Wrong");
                        //$(".username").removeClass("has-error");
                    }
                }
            });
        });

        //submit user
        $("#submit").click(function () {

            var user_name = $("#username").val();
            var user_type = $("#user_type").val();
            var name = $("#name").val();
            var email = $("#email").val();
            var contact_no = $("#contact_no").val();
            var dob = $("#datepicker").val();
            var course = $("#course").val();




            if (user_name != "" && user_type != 0 && name != "" && email != "" && contact_no != "" && dob != "" && course != 0) {
                $.ajax({
                    url: 'http://localhost:3000/admin/adduser',
                    headers: {
                        'Authorization': 'hello',
                        //'X_CSRF_TOKEN':'xxxxxxxxxxxxxxxxxxxx',
                        //'Content-Type':'application/json'
                    },
                    method: 'POST',
                    dataType: 'json',
                    data: { user_name: user_name, user_type: user_type, name: name, email: email, contact_no: contact_no, dob: dob, course: course },
                    success: function (data) {
                        //alert(data["status"]);
                        if (data["status"] == "200") {
                            alert("Inserted");
                            $("#username").val("");
                            $("#name").val("");
                            $("#email").val("");
                            $("#contact_no").val("");
                            $("#datepicker").val("");
                            $("#user_type").val(0);
                            $("#course").val(0);
                        }
                        else {
                            alert("something goes wrong");
                        }
                    }
                });
            }
            else {
                swal('Oops!', 'All fields are required!', 'error');
            }

        });
    });
</script>