{{> faculty/faculty_header}}
<body class="page-template-default page page-id-2870 siteorigin-panels siteorigin-panels-before-js woocommerce-no-js left-sidebar">

	<div id="content" class="site-content content-wrapper page-content">
		<div id="post-2870" class="post-2870 page type-page status-publish hentry">
			<div class="page-content-body">
				<div id="pl-2870" class="panel-layout">
					<div id="pg-2870-0" class="panel-grid panel-no-style">
						<div id="pgc-2870-0-0" class="panel-grid-cell">
							<div id="panel-2870-0-0-0" class="so-panel widget_sekolah_timetable_widget panel-first-child panel-last-child"
							 data-index="0">
								<div class="so-widget-sekolah_timetable_widget so-widget-sekolah_timetable_widget-default-d75171398898">
									<section class="schedule-hero">
										<div class="container">
											<div class="hero-content">
												<div class="hero-caption">
													<h2>Class XI &#8211; Summer</h2> <a href="#" class="hvr-push">DOWNLOAD AS PDF</a>
												</div>
											</div>
										</div>
									</section>

									<section class="search-bar"></section>

									<div id="schedule_content" class="schedule-content">
										<div class="container">
											<div class="row">
												<div class="schedule-table-filter">
													<form id="form_timetable" action="#schedule_content" method="GET"> <select name="class" class="selectpicker dropdown timetable_select">
															<option selected class="timetable_category" data-category="Class XI">Class XI</option>
															<option class="timetable_category" data-category="Class XIV">Class XIV</option>
														</select> <select name="period" class="selectpicker dropdown timetable_select">
															<option class="timetable_period" data-period="August 2017">August 2017</option>
															<option class="timetable_period" data-period="July 2017">July 2017</option>
															<option selected class="timetable_period" data-period="June 2017">June 2017</option>
															<option class="timetable_period" data-period="September 2017">September 2017</option>
														</select></form>
												</div>
												<div class="schedule-table-heading">
													<ul>
														<li><img src="/img/schedule-clock.png" alt="images"></li>
														<li>MONDAY</li>
														<li>TUESDAY</li>
														<li>WEDNESDAY</li>
														<li>THURSDAY</li>
														<li>FRIDAY</li>
													</ul>
												</div>
												<div class="schedule-table-content">
													<ul>
														<li>9am</li>
														<li class="math"><span style="background:#39b54a">9am-10am <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#ed145b">9am-10am <strong>BIOLOGY</strong></span></li>
														<li class="math"><span style="background:#f58c04">9am-10am <strong>DESIGN</strong></span></li>
														<li class="math"><span style="background:#733d96">9am-10am <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#0f4ea3">9am-10am <strong>PSYCHOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>10am</li>
														<li class="math"><span style="background:#733d96">10am-11am <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#f58c04">9am-10am <strong>DESIGN</strong></span></li>
														<li class="math"><span style="background:#39b54a">10am-11am <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#0f4ea3">10am-11am <strong>PSYCHOLOGY</strong></span></li>
														<li class="math"><span style="background:#ed145b">10am-11am <strong>BIOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>11am</li>
														<li class="math"><span style="background:#0f4ea3">11am-12pm <strong>PSYCHOLOGY</strong></span></li>
														<li class="math"><span style="background:#733d96">11am-12pm <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#ed145b">11am-12pm <strong>BIOLOGY</strong></span></li>
														<li class="math"><span style="background:#39b54a">11am-12pm <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#f58c04">11am-12pm <strong>DESIGN</strong></span></li>
													</ul>
													<ul>
														<li>12am</li>
														<li class="day-5 break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
													</ul>
													<ul>
														<li>1pm</li>
														<li class="math"><span style="background:#f58c04">1pm-2pm <strong>DESIGN</strong></span></li>
														<li class="math"><span style="background:#39b54a">1pm-2pm <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#733d96">1pm-2pm <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#ed145b">1pm-2pm <strong>BIOLOGY</strong></span></li>
														<li class="math"><span style="background:#0f4ea3">1pm-2pm <strong>PSYCHOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>2pm</li>
														<li class="math"><span style="background:#39b54a">2pm-3pm <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#ed145b">2pm-3pm <strong>BIOLOGY</strong></span></li>
														<li class="math"><span style="background:#f58c04">2pm-3pm <strong>DESIGN</strong></span></li>
														<li class="math"><span style="background:#733d96">2pm-3pm <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#0f4ea3">2pm-3pm <strong>PSYCHOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>3pm</li>
														<li class="math"><span style="background:#733d96">3pm-4pm <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#f58c04">3pm-4pm <strong>DESIGN</strong></span></li>
														<li class="math"><span style="background:#39b54a">3pm-4pm <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#0f4ea3">3pm-4pm <strong>PSYCHOLOGY</strong></span></li>
														<li class="math"><span style="background:#ed145b">3pm-4pm <strong>BIOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>4pm</li>
														<li class="math"><span style="background:#0f4ea3">4pm-5pm <strong>PSYCHOLOGY</strong></span></li>
														<li class="math"><span style="background:#733d96">4pm-5pm <strong>ENGLISH</strong></span></li>
														<li class="math"><span style="background:#ed145b">4pm-5pm <strong>BIOLOGY</strong></span></li>
														<li class="math"><span style="background:#39b54a">4pm-5pm <strong>MATHEMATICS</strong></span></li>
														<li class="math"><span style="background:#f58c04">4pm-5pm <strong>DESIGN</strong></span></li>
													</ul>
												</div>
												<div class="schedule-table-content-mobile">
													<ul>
														<li>MONDAY</li>
														<li><span style="background:#39b54a">9am-10am <strong>MATHEMATICS</strong></span></li>
														<li><span style="background:#733d96">10am-11am <strong>ENGLISH</strong></span></li>
														<li><span style="background:#0f4ea3">11am-12pm <strong>PSYCHOLOGY</strong></span></li>
														<li class="break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
														<li><span style="background:#f58c04">1pm-2pm <strong>DESIGN</strong></span></li>
														<li><span style="background:#39b54a">2pm-3pm <strong>MATHEMATICS</strong></span></li>
														<li><span style="background:#733d96">3pm-4pm <strong>ENGLISH</strong></span></li>
														<li><span style="background:#0f4ea3">4pm-5pm <strong>PSYCHOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>TUESDAY</li>
														<li><span style="background:#ed145b">9am-10am <strong>BIOLOGY</strong></span></li>
														<li><span style="background:#f58c04">9am-10am <strong>DESIGN</strong></span></li>
														<li><span style="background:#733d96">11am-12pm <strong>ENGLISH</strong></span></li>
														<li class="break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
														<li><span style="background:#39b54a">1pm-2pm <strong>MATHEMATICS</strong></span></li>
														<li><span style="background:#ed145b">2pm-3pm <strong>BIOLOGY</strong></span></li>
														<li><span style="background:#f58c04">3pm-4pm <strong>DESIGN</strong></span></li>
														<li><span style="background:#733d96">4pm-5pm <strong>ENGLISH</strong></span></li>
													</ul>
													<ul>
														<li>WEDNESDAY</li>
														<li><span style="background:#f58c04">9am-10am <strong>DESIGN</strong></span></li>
														<li><span style="background:#39b54a">10am-11am <strong>MATHEMATICS</strong></span></li>
														<li><span style="background:#ed145b">11am-12pm <strong>BIOLOGY</strong></span></li>
														<li class="break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
														<li><span style="background:#733d96">1pm-2pm <strong>ENGLISH</strong></span></li>
														<li><span style="background:#f58c04">2pm-3pm <strong>DESIGN</strong></span></li>
														<li><span style="background:#39b54a">3pm-4pm <strong>MATHEMATICS</strong></span></li>
														<li><span style="background:#ed145b">4pm-5pm <strong>BIOLOGY</strong></span></li>
													</ul>
													<ul>
														<li>THURSDAY</li>
														<li><span style="background:#733d96">9am-10am <strong>ENGLISH</strong></span></li>
														<li><span style="background:#0f4ea3">10am-11am <strong>PSYCHOLOGY</strong></span></li>
														<li><span style="background:#39b54a">11am-12pm <strong>MATHEMATICS</strong></span></li>
														<li class="break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
														<li><span style="background:#ed145b">1pm-2pm <strong>BIOLOGY</strong></span></li>
														<li><span style="background:#733d96">2pm-3pm <strong>ENGLISH</strong></span></li>
														<li><span style="background:#0f4ea3">3pm-4pm <strong>PSYCHOLOGY</strong></span></li>
														<li><span style="background:#39b54a">4pm-5pm <strong>MATHEMATICS</strong></span></li>
													</ul>
													<ul>
														<li>FRIDAY</li>
														<li><span style="background:#0f4ea3">9am-10am <strong>PSYCHOLOGY</strong></span></li>
														<li><span style="background:#ed145b">10am-11am <strong>BIOLOGY</strong></span></li>
														<li><span style="background:#f58c04">11am-12pm <strong>DESIGN</strong></span></li>
														<li class="break"><span style="background:#a6b5d4">12pm-1pm <strong>LUNCH BREAK</strong></span></li>
														<li><span style="background:#0f4ea3">1pm-2pm <strong>PSYCHOLOGY</strong></span></li>
														<li><span style="background:#0f4ea3">2pm-3pm <strong>PSYCHOLOGY</strong></span></li>
														<li><span style="background:#ed145b">3pm-4pm <strong>BIOLOGY</strong></span></li>
														<li><span style="background:#f58c04">4pm-5pm <strong>DESIGN</strong></span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<section class="academics-pdf-download"> <a href="#" class="join hvr-push">DOWNLOAD AS PDF</a></section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</body>
<script>
	
</script>
{{> faculty/faculty_footer}}