<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/mycss.css">
    <link rel="stylesheet" href="css/sweetalert.css">
  </head>
  <body>
    {{{body}}}
    <script src="js/sweetalert.min.js"></script>
  </body>
</html>
